.login-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.login-form button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #388e3c;
}